<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TextUtils.com</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">TextUtils.in</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>Welcome to TextUtils.com! </strong> You can play around with your text here.
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    
    <div class = "container mt-2">
      <form action = '/analyze/' method = 'post'> {% csrf_token %}
        <div class="form-group">
          <label for = "exampleFormControlTextArea1">Enter your text here and let textutils do the magic!</label>
          {% comment %} <span class="input-group-text">Enter your text here and let textutils do the magic!</span> {% endcomment %}
          <textarea class="form-control" name = "text" aria-label="With textarea" id = "exampleFormControlTextArea1" rows = "9"></textarea>
        </div>
      <div class="form-check form-switch mt-2">
        <input class="form-check-input" type="checkbox" name = 'removepunc' role="switch" id="customSwitch1">
        <label class="form-check-label" for="customSwitch1">Remove Punctuations</label>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" name = 'allcaps' role="switch" id="customSwitch1">
        <label class="form-check-label" for="customSwitch1">Convert to All Caps</label>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" name = 'removenewline' role="switch" id="customSwitch2">
        <label class="form-check-label" for="customSwitch2">Remove New Line</label>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" name = 'removeextraspace' role="switch" id="customSwitch3">
        <label class="form-check-label" for="customSwitch3">Remove Extra Space</label>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" name = 'countcharacters' role="switch" id="customSwitch4">
        <label class="form-check-label" for="customSwitch4">Count Characters</label>
      </div>
      <button type="submit" class="btn btn-dark mt-2">Analyze Text</button>
      </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
  </body>
</html>